body {
    color-scheme: dark;
    background-color: #232327;
    color: #b1b1b3;
    font-family: sans-serif;
}

.main-table table, td {
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
}
.main-table thead {
    position: sticky;
    top: 0;
}
.main-table thead, tbody {
    font-family: monospace;
}
.main-table {
    border-collapse: collapse;
    border: none;
}
.main-table td {
    border: 1px solid #444444;
}
.main-table tr:first-child td {
    border-top: none;
}
.main-table tr:last-child td {
    border-bottom: none;
}
.main-table tr td:first-child {
    border-left: none;
}
.main-table tr td:last-child {
    border-right: none;
}
.main-table thead tr {
    text-align: center;
    background: #000000;
}
.main-table tbody tr {
    text-align: right;
}

.packet-header-row {
    background: #333333;
}
.packet-header-row-outbound {
    background: #006215;
}
.decoded td {
    text-align: left;
    font-size: 80%;
}
#filter-expr-input {
    width: 100%;
}
.status-disconnected {
    background-color: #ea7a6c;
}
.status-connected {
    background-color: #2ea043;
}
.filter-ok {
    background-color: #005596;
}
.filter-error {
    background-color: #4b2f36;
}
